[*.cs]

# SA1106: Code should not contain empty statements
dotnet_diagnostic.SA1106.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1206: Declaration keywords should follow order
dotnet_diagnostic.SA1206.severity = none
