**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/TestResults
**/*Tests
**/*.sln
Dockerfile
docker-compose*.yml
**/.env
**/.env.*
**/README.md
**/*.md

